@media only screen and (max-width : 800px) {
    #navbar__logo {
        margin-left: 80px;
    }
}

@media only screen and (min-width : 800px) and (max-width:1300px) {
    #navbar__logo {
        margin-left: 75pt;
    }
}

.gaWd52ker529aHk {
    z-index: -1;
}

[class~=gaWd51ker529eWQ],
.gaWd52ker529aHk {
    position: absolute;
}

.gaWd52ker529aHk {
    left: 0;
}

.gaWd52ker529aHk {
    top: 5px;
}

.gaWd52ker529aHk {
    height: .9375in;
}

.gaWd52ker529aHk {
    width: 90px;
}

[class~=gaWd51ker529eWQ] {
    top: 25%;
}

[class~=gaWd51ker529eWQ] {
    animation: gaWd51ker5DeW cubic-bezier(.165, .84, .44, 1) 3s;
}

[class~=gaWd51ker529eWQ] {
    z-index: 2;
}

@keyframes gaWd51ker5DeW {
    0% {
        top: 0;
        transform: scale(2.5);
    }

    99% {
        top: 25%;
    }
}

.gErWd94kyHur5VPeW img[data-scroll="in"] {
    transition: all ease .5s;
}

.gErWd94kyHur5VPeW img[data-scroll="in"] {
    animation: gErWd94r5VPeW ease 1.7s;
}

.gErWd94kyHur5VPeW img[data-scroll="in"] {
    filter: drop-shadow(0 0 .75rem #fcfbfb);
}

@keyframes gErWd94r5VPeW {
    0% {
        transform-origin: left;
        transform: scaleX(0);
    }

    100% {
        transform-origin: left;
        transform: scaleX(1);
    }
}

.MQZZdWKRPyh7faTd .XuMnT45aWbn3Nrcc {
    position: relative;
}

.MQZZdWKRPyh7faTd .XuMnT45aWbn3Nrcc:hover .MQZZdWK5RP9yh4EFZ {
    top: -33.75pt;
}

[class~=MQZZdWKRPyh7faTd] [class~=MQZZdWK5RP9yh4EFZ]::before {
    position: absolute;
}

[class~=gErWZ0lpqGXr5VPeW] {
    color: #f1e7e7;
}

#gErWZB891Fr5VPeW {
    position: fixed;
}

[class~=MQZZdWKRPyh7faTd] [class~=XuMnT45aWbn3Nrcc]:hover [class~=MQZZdWK5RP9yh4EFZ],
[class~=MQZZdWKRPyh7faTd] [class~=XuMnT45aWbn3Nrcc]:hover span {
    text-shadow: 0 -.75pt 0 rgba(0, 0, 0, .1);
}

.MQZZdWKRPyh7faTd .XuMnT45aWbn3Nrcc:hover .MQZZdWK5RP9yh4EFZ {
    opacity: 1;
}

#gErWZB891Fr5VPeW {
    display: none;
}

.MQZZdWKRPyh7faTd .XuMnT45aWbn3Nrcc {
    z-index: 2;
}

[class~=MQZZdWKRPyh7faTd] [class~=fwmZJMTJ6978CRKV]:hover,
[class~=MQZZdWKRPyh7faTd] [class~=fwmZJMTJ6978CRKV]:hover [class~=MQZZdWK5RP9yh4EFZ]::before,
[class~=MQZZdWKRPyh7faTd] [class~=fwmZJMTJ6978CRKV]:hover [class~=MQZZdWK5RP9yh4EFZ] {
    background-color: #e1306c;
}

[class~=MQZZdWKRPyh7faTd] [class~=MQZZdWK5RP9yh4EFZ]::before {
    content: "";
}

.MQZZdWKRPyh7faTd .XuMnT45aWbn3Nrcc {
    background-color: #fff;
}

.MQZZdWKRPyh7faTd .XuMnT45aWbn3Nrcc {
    border-radius: 50%;
}

.MQZZdWKRPyh7faTd .fwmZJMTJ6978AQjV:hover .MQZZdWK5RP9yh4EFZ,
[class~=MQZZdWKRPyh7faTd] [class~=fwmZJMTJ6978TOdL]:hover,
[class~=MQZZdWKRPyh7faTd] [class~=fwmZJMTJ6978AQjV]:hover,
[class~=MQZZdWKRPyh7faTd] [class~=fwmZJMTJ6978TOdL]:hover [class~=MQZZdWK5RP9yh4EFZ],
[class~=MQZZdWKRPyh7faTd] [class~=fwmZJMTJ6978CRKV]:hover,
[class~=MQZZdWKRPyh7faTd] [class~=fwmZJMTJ6978CRKV]:hover [class~=MQZZdWK5RP9yh4EFZ]::before,
[class~=MQZZdWKRPyh7faTd] [class~=fwmZJMTJ6978CRKV]:hover [class~=MQZZdWK5RP9yh4EFZ],
[class~=MQZZdWKRPyh7faTd] [class~=fwmZJMTJ6978TOdL]:hover [class~=MQZZdWK5RP9yh4EFZ]::before {
    color: #fff;
}

#gErWZB891Fr5VPeW {
    bottom: .208333333in;
}

.MQZZdWKRPyh7faTd .XuMnT45aWbn3Nrcc {
    padding-left: .9375pc;
}

[class~=MQZZdWKRPyh7faTd] [class~=fwmZJMTJ6978TOdL]:hover,
[class~=MQZZdWKRPyh7faTd] [class~=fwmZJMTJ6978TOdL]:hover [class~=MQZZdWK5RP9yh4EFZ],
[class~=MQZZdWKRPyh7faTd] [class~=fwmZJMTJ6978TOdL]:hover [class~=MQZZdWK5RP9yh4EFZ]::before {
    background-color: #333;
}

.MQZZdWKRPyh7faTd .XuMnT45aWbn3Nrcc:hover .MQZZdWK5RP9yh4EFZ {
    visibility: visible;
}

.MQZZdWKRPyh7faTd .XuMnT45aWbn3Nrcc {
    padding-bottom: .9375pc;
}

[class~=MQZZdWKRPyh7faTd] [class~=MQZZdWK5RP9yh4EFZ]::before {
    height: 8px;
}

.MQZZdWKRPyh7faTd .XuMnT45aWbn3Nrcc {
    padding-right: .9375pc;
}

.MQZZdWKRPyh7faTd .XuMnT45aWbn3Nrcc:hover .MQZZdWK5RP9yh4EFZ {
    pointer-events: auto;
}

.MQZZdWKRPyh7faTd .XuMnT45aWbn3Nrcc,
[class~=MQZZdWKRPyh7faTd] {
    display: flex;
}

.MQZZdWKRPyh7faTd .XuMnT45aWbn3Nrcc {
    padding-top: .9375pc;
}

.MQZZdWKRPyh7faTd .XuMnT45aWbn3Nrcc {
    margin-left: 7.5pt;
}

#gErWZB891Fr5VPeW {
    right: .3125in;
}

.MQZZdWKRPyh7faTd .XuMnT45aWbn3Nrcc {
    margin-bottom: 7.5pt;
}

.MQZZdWKRPyh7faTd .XuMnT45aWbn3Nrcc,
[class~=MQZZdWKRPyh7faTd] {
    justify-content: center;
}

.MQZZdWKRPyh7faTd .fwmZJMTJ6978AQjV:hover .MQZZdWK5RP9yh4EFZ,
[class~=MQZZdWKRPyh7faTd] [class~=fwmZJMTJ6978AQjV]:hover,
[class~=MQZZdWKRPyh7faTd] [class~=fwmZJMTJ6978AQjV]:hover [class~=MQZZdWK5RP9yh4EFZ]::before {
    background-color: #08c;
}

.MQZZdWKRPyh7faTd .XuMnT45aWbn3Nrcc {
    margin-right: 7.5pt;
}

.MQZZdWKRPyh7faTd .XuMnT45aWbn3Nrcc {
    margin-top: 7.5pt;
}

.MQZZdWKRPyh7faTd .XuMnT45aWbn3Nrcc {
    width: 37.5pt;
}

.MQZZdWKRPyh7faTd .XuMnT45aWbn3Nrcc {
    height: 37.5pt;
}

.MQZZdWKRPyh7faTd .XuMnT45aWbn3Nrcc {
    font-size: 2.375pc;
}

#gErWZB891Fr5VPeW {
    z-index: 99;
}

[class~=MQZZdWKRPyh7faTd] [class~=fwmZJMTJ6978RUyN]:hover,
[class~=MQZZdWKRPyh7faTd] [class~=fwmZJMTJ6978RUyN]:hover [class~=MQZZdWK5RP9yh4EFZ]::before,
[class~=MQZZdWKRPyh7faTd] [class~=fwmZJMTJ6978RUyN]:hover [class~=MQZZdWK5RP9yh4EFZ] {
    background-color: #de463b;
}

#gErWZB891Fr5VPeW {
    background: linear-gradient(to right, #161616, #000);
}

.MQZZdWKRPyh7faTd .XuMnT45aWbn3Nrcc {
    align-items: center;
}

.MQZZdWKRPyh7faTd .XuMnT45aWbn3Nrcc {
    flex-direction: column;
}

.MQZZdWKRPyh7faTd .XuMnT45aWbn3Nrcc {
    box-shadow: .125pc 6px .875pc .1875pc #000;
}

.MQZZdWKRPyh7faTd .XuMnT45aWbn3Nrcc,
#gErWZB891Fr5VPeW {
    cursor: pointer;
}

.MQZZdWKRPyh7faTd .XuMnT45aWbn3Nrcc {
    transition: all .2s cubic-bezier(.68, -.55, .265, 1.55);
}

[class~=MQZZdWKRPyh7faTd] [class~=MQZZdWK5RP9yh4EFZ] {
    position: absolute;
}

#gErWZB891Fr5VPeW {
    font-size: 45pt;
}

#gErWZB891Fr5VPeW {
    border-radius: 100%;
}

[class~=MQZZdWKRPyh7faTd] [class~=MQZZdWK5RP9yh4EFZ] {
    top: 0;
}

[class~=MQZZdWKRPyh7faTd] [class~=MQZZdWK5RP9yh4EFZ] {
    font-size: 14px;
}

[class~=MQZZdWKRPyh7faTd] [class~=MQZZdWK5RP9yh4EFZ]::before,
[class~=MQZZdWKRPyh7faTd] [class~=MQZZdWK5RP9yh4EFZ] {
    background-color: #fff;
}

[class~=MQZZdWKRPyh7faTd] [class~=MQZZdWK5RP9yh4EFZ] {
    padding-left: .083333333in;
}

[class~=MQZZdWKRPyh7faTd] [class~=MQZZdWK5RP9yh4EFZ] {
    padding-bottom: .3125pc;
}

[class~=MQZZdWKRPyh7faTd] [class~=MQZZdWK5RP9yh4EFZ] {
    padding-right: .083333333in;
}

[class~=MQZZdWKRPyh7faTd] [class~=MQZZdWK5RP9yh4EFZ] {
    padding-top: .3125pc;
}

[class~=MQZZdWKRPyh7faTd] [class~=MQZZdWK5RP9yh4EFZ] {
    border-radius: .052083333in;
}

[class~=MQZZdWKRPyh7faTd] [class~=MQZZdWK5RP9yh4EFZ] {
    box-shadow: 0 .104166667in 10px rgba(0, 0, 0, .1);
}

[class~=MQZZdWKRPyh7faTd] [class~=MQZZdWK5RP9yh4EFZ]::before {
    width: .5pc;
}

[class~=MQZZdWKRPyh7faTd] [class~=MQZZdWK5RP9yh4EFZ] {
    opacity: 0;
}

[class~=MQZZdWKRPyh7faTd] [class~=MQZZdWK5RP9yh4EFZ] {
    pointer-events: none;
}

[class~=MQZZdWKRPyh7faTd] [class~=MQZZdWK5RP9yh4EFZ]::before,
[class~=MQZZdWKRPyh7faTd] [class~=MQZZdWK5RP9yh4EFZ] {
    transition: all .3s cubic-bezier(.68, -.55, .265, 1.55);
}

[class~=MQZZdWKRPyh7faTd] [class~=fwmZJMTJ6978GPeB]:hover [class~=MQZZdWK5RP9yh4EFZ]::before,
.MQZZdWKRPyh7faTd .fwmZJMTJ6978GPeB:hover .MQZZdWK5RP9yh4EFZ,
[class~=MQZZdWKRPyh7faTd] [class~=fwmZJMTJ6978GPeB]:hover,
[class~=MQZZdWKRPyh7faTd] [class~=fwmZJMTJ6978RUyN]:hover [class~=MQZZdWK5RP9yh4EFZ],
[class~=MQZZdWKRPyh7faTd] [class~=fwmZJMTJ6978AQjV]:hover [class~=MQZZdWK5RP9yh4EFZ]::before,
[class~=MQZZdWKRPyh7faTd] [class~=fwmZJMTJ6978RUyN]:hover,
[class~=MQZZdWKRPyh7faTd] [class~=fwmZJMTJ6978RUyN]:hover [class~=MQZZdWK5RP9yh4EFZ]::before {
    color: #fff;
}

[class~=MQZZdWK2Ia0OBxgEFZ],
.MQZZdWKRPyh7faTd .fwmZJMTJ6978CRKV .MQZZdWK5RP9yh4EFZ a {
    text-decoration: none;
}

.MQZZdWKRPyh7faTd .fwmZJMTJ6978GPeB:hover .MQZZdWK5RP9yh4EFZ,
[class~=MQZZdWKRPyh7faTd] [class~=fwmZJMTJ6978GPeB]:hover [class~=MQZZdWK5RP9yh4EFZ]::before,
[class~=MQZZdWKRPyh7faTd] [class~=fwmZJMTJ6978GPeB]:hover {
    background-color: #0e76a8;
}

[class~=MQZZdWK2Ia0OBxgEFZ],
.MQZZdWKRPyh7faTd .fwmZJMTJ6978CRKV .MQZZdWK5RP9yh4EFZ a {
    color: inherit;
}

#gErWZB891Fr5VPeW {
    width: .78125in;
}

[class~=MQZZdWKRPyh7faTd] [class~=MQZZdWK5RP9yh4EFZ]::before {
    bottom: -2.25pt;
}

[class~=MQZZdWKRPyh7faTd] [class~=MQZZdWK5RP9yh4EFZ]::before {
    left: 50%;
}

#gErWZB891Fr5VPeW {
    height: 4.375pc;
}

[class~=MQZZdWKRPyh7faTd] [class~=MQZZdWK5RP9yh4EFZ]::before {
    transform: translate(-50%) rotate(45deg);
}

.MQZZdWKRPyh7faTd .fwmZJMTJ6978CRKV .MQZZdWK5RP9yh4EFZ a {
    outline: none;
}

#gErWZB891Fr5VPeW {
    padding-bottom: 80px;
}